name: Backend Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  backend-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: ./backend/go.mod

      - name: Install dependencies
        run: go mod download
        working-directory: ./backend

      - name: go test
        run: make test-all
        working-directory: ./backend
