name: Backend Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  backend-test:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
        with:
          go-version-file: ./backend/go.mod

      - name: Install dependencies
        run: go mod download
        working-directory: ./backend

      - name: go test
        run: make test-all
        working-directory: ./backend
