name: Frontend Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  frontend-lint:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: ./frontend/.node-version

      - name: Install devDependencies
        run: npm ci --only=dev
        working-directory: ./frontend

      - name: Run Biome
        run: npm run lint
        working-directory: ./frontend
